<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!--<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">-->

	<!-- Icons -->  
	<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
	<link rel="apple-touch-icon" sizes="120x120" href="/bootcards/images/apple-touch-icon-120x120.png">
	<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
	<link rel="apple-touch-icon" sizes="144x144" href="/bootcards/images/apple-touch-icon-144x144.png">

  <title>CustomerView</title>
  <!-- version: {{getAppVersion}} -->

  <!-- Bootstrap core CSS -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <!-- Bootstrap theme -->
  <!--<link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />-->
  <!-- FontAwesome -->	
  <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Jasny Bootstrap for slide in menu -->
  <link href="/bower_components/bootstrap-jasny/dist/css/jasny-bootstrap.min.css" rel="stylesheet" />
  <!--morris charts-->
  <link rel="stylesheet" href="/bower_components/morris.js/morris.css">
  <!-- Custom styles -->
  <link href="/bootcards/css/bootcards.css" rel="stylesheet" />
  {{{getCSSforOS session}}}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

    </head>

    <body>

      <!-- slide in menu (mobile) -->
      <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
        <ul class="nav navmenu-nav">
          {{#each menu}}
            {{#if this.active }}
              <li class="active">
            {{else}}
              <li>
            {{/if}}
            <a href="{{this.url}}" data-pjax="#main">
              <i class="fa fa-lg {{this.icon}}"></i>
              {{this.name}}
            </a>          
          </li>
          {{/each}}
        </ul>
      </div>

      <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
    
            <button type="button" class="btn btn-default btn-back pull-left">
              <i class="fa fa-lg fa-chevron-left"></i>
              <span>Back</span>
            </button>
            <button type="button" class="btn btn-default btn-menu pull-left"
              class="navbar-toggle" 
              data-toggle="offcanvas" 
              data-target=".navmenu" 
              >
              <!--add data-canvas="body" to the button for a slide > push effect-->
              <i class="fa fa-lg fa-bars"></i>
              <span>Menu</span>
            </button>
            <a class="navbar-brand" title="CustomerView v{{getAppVersion}}" href="/">CustomerView</a>
            <a href="/contacts/add" class="btn btn-default pull-right">
              <i class="fa fa-lg fa-plus"></i>
              <span>Add</span>
            </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {{#each menu}}
              {{#if this.active }}
              <li class="active">
                {{else}}
                <li>
                  {{/if}}
                  <a href="{{this.url}}">
                    <i class="fa {{this.icon}}"></i>
                    {{this.name}}
                  </a>          
                </li>
                {{/each}}
              </ul>
            </div>          
          </div>    
        </div>

        <div id="main" class="container">
          {{{body}}}
        </div>

        <!-- Fixed footer -->
        <div class="navbar navbar-default navbar-fixed-bottom">
          <div class="container">

            <div class="btn-group">
              {{#each menu}}
                {{#if this.active }}
                  <a href="{{this.url}}" class="btn btn-default active" data-pjax="#main">
                {{else}}
                  <a href="{{this.url}}" class="btn btn-default" data-pjax="#main">
                {{/if}}
                    <i class="fa fa-2x {{this.icon}}"></i>
                    {{this.name}}
                  </a>          
                {{/each}}
              </div>

            </div>
          </div>

    <script src="/jquery/jquery-2.1.0.min.js"></script>
    <script src="/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>   
    <script src="/bower_components/jquery-pjax/jquery.pjax.js"></script>
    <script src="/bower_components/bootstrap-jasny/dist/js/jasny-bootstrap.min.js"></script>
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/bower_components/raphael/raphael-min.js"></script>
    <script src="/bower_components/morris.js/morris.min.js"></script>
    <script src="/bootcards/js/bootcards.js"></script> 

  </body>
</html>